# Dependencies
node_modules/
.venv/
__pycache__/
backend/__pycache__
backend/rdb_timestock_3 copy
backend/rdb_timestock_3
backend/alert_cache.json
backend.spec
# Builds
dist/
out/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env
